﻿<div class="admin-box">
    <div class="left-panel">
        <h3 class="title">Панель управления</h3>
        <div class="buttons">
            <div *ngFor="let menuItem of menuItems"
                 [routerLink]="[menuItem.category]"
                 routerLinkActive="active">
                <span>{{menuItem.name}}</span>
            </div>
            <div>
                <span (click)="logout()">Выйти</span>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <router-outlet></router-outlet>
    </div>
</div>