﻿<div class='all-news-box'>
    <div *ngFor='let news of newsList'>
        <div class='admin-news-item'
            [@newsState]="news.state"
            (mouseenter)="news.toggleState()"
            (mouseleave)="news.toggleState()">
            <div class="details">
                <img *ngIf="news.imgUrl" [src]="news.imgUrl">
                <span>
                    {{news.shortMessage}}
                </span>
            </div>
            <div class='footer'>
                <div
                    (click)='togglePrompt(news)'>
                    {{news.prompt == true ? 'Убрать с главной' : 'На главную'}}
                </div>
                <div
                    [routerLink]='["/main", category, "detail", news.id]' target='_blank'>
                    Просмотр
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news-footer">
    <div class="pages-box">
        <div class="left-arrow"
             (click)="prevPage()">
            <span>
                <
            </span>
        </div>
        <div *ngFor="let page of arrayOfPages | pagesSlice:page" 
             class="page-button" 
             [routerLink]="['/admin', category, page.number]"
             [@pageState]="page.state"
             (click)="setNewCurrentPage(page)"
             (mouseenter)="page.toggleState('selected')"
             (mouseleave)="page.toggleState('notSelected')">
            <span>{{page.number}}</span>
        </div>
        <div class="right-arrow"
             (click)="nextPage()">
            <span>
                >
            </span>
        </div>
    </div>
</div>