﻿$backgroundColor: #f3f2ef;
$newsListTabDarkColor: #cfd8dc;
$shortNewsDashColor: #c8c8c8;
$redTextColor: #f25b5b;
$titleColor: #393939;
$allNewsBorder: 1px solid black;

@mixin red-text($delay: 300ms) {
    color: $redTextColor;
    -webkit-transition: all linear $delay;
    transition: all linear $delay;
}

@mixin page-button() {
    transform: scale(1.5);
    transition: all 100ms ease;
    background: $backgroundColor;
    border-radius: 50%;
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: $backgroundColor;
}

.btn {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

header {
    height: 110px;
    width: 1170px;
    margin: 0 auto;

    .logo-box {
        width: 316px;
        height: 110px;
        background-position: left center;
        background-size: contain;
        background-image: url("../../img/logo.png");
        background-repeat: no-repeat;
        display: block;
        float: left;
    }

    .link-box {
        margin: 0 90px;
        float: left;

        a {
            color: #2a6cb6;
            font-family: "PT Sans", sans-serif;
            font-size: 18px;
            text-decoration: underline;
            display: inline-block;
            line-height: 110px;
             margin: 0 45px 0 0;
        }
        a.active {
            color: #383d43;
            font-weight: 700;
            text-decoration: none;
        }
        a:hover {
                @include red-text();
        }
    }

    .widget-box {
        float: right;
        width: 170px;
        margin: 0 20px 0 0;
        display: inline-block;

        .date-time {
            margin: 35px 0 0 0;
            float: left;

            div:first-child {
                color: #7d8083;
                font-family: "PT Sans", sans-serif;
                font-size: 14px;
                font-style: italic;
            }

            div:last-child {
                color: #515567;
                font-family: "PT Sans", sans-serif;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

article {
    background-color: white;
    box-shadow: inset 0 3px 6px -3px rgba(0,0,0,.38),inset 0 -3px 6px -3px rgba(0,0,0,.38);

    .container {
        display: flex;
        min-height: 1000px;
    }

    aside {
        display: flex;
        flex-flow: column wrap;
        width: 260px;
        background-color: #353333;
        padding: 28px 20px;

        h3 {
            color: #f1e6e6;
            font-size: 18px;
            font-weight: 700;
            text-shadow: 0 -1px 0 #0b0a0a;
            padding-left: 38px;
            margin: 0;
            line-height: 22px;
            font-family: "PT Sans", sans-serif;
        }

        h3:before {
            width: 24px;
            height: 22px;
            background-image: url(../../img/menu.png);
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            margin-left: -38px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 15px 0 0;

            li {
                line-height: 40px;
                height: 41px;
                
                a {
                    font-size: 18px;
                    font-family: "PT Sans", sans-serif;
                    -webkit-transition: all linear 300ms;
                    transition: all linear 300ms;
                    color: white;

                    span {
                        position: absolute;
                        z-index: 2;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-decoration: underline;
                    }
                }

                a:hover {
                    color: #f25b5b;
                }

                a.active {
                    color: #383d43;

                    span {
                        text-decoration: none;
                    }
                }

                a.active:before {
                    content: "";
                    width: 260px;
                    height: 52px;
                    position: absolute;
                    z-index: 1;
                    margin-left: -32px;
                    margin-top: -4px;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    background-image: url(../../img/ribbon-active.png);
                }
            }

            li:nth-child(1), li:nth-child(2) {
                font-weight: 700;
            }
        }
    }

    section {
        display: flex;
        padding: 0 0 0 20px;
        width: 880px;
        font-family: PTSerif;
        font-size: 18px;
    }

    error-page {
        width: 100%;

        .news-list-error-container {
            display: flex;
            justify-content: center;
        }
    }
}

footer {
    
    .copyright-box {
        margin: 30px auto;
        clear: both;
        border-top: 1px solid #fdfcfc;
        box-shadow: 0 -1px 0 #bbbbba;

        span {
            display: block;
            margin: -10px auto 0;
            background: #f3f2ef;
            width: 250px;
            text-align: center;
            color: #787878;
            font-family: sans-serif;
            font-size: 12px;
            font-style: italic;
            text-shadow: 0 1px 0 white;
        }
    }

    .info-box {
        margin-top: 30px;
        height: 100px;
        background-position: left top;
        background-size: contain;
        background-image: url(../../img/logo.png);
        background-repeat: no-repeat;
        color: #616161;
        font-size: 14px;
        text-shadow: 0 -1px 0 white;

        div {
            text-align: center;
            padding: 0 200px;
        }
    }
}

.container {
    display: table;
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.news-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .short-news-box {
        border-bottom: 1px solid $shortNewsDashColor;
        margin: 0 0 20px;
        padding: 5px;
        cursor: pointer;

        .short-news-box_img {
            width: 100%;
            height: 100%;
        }
    }
}


.news-column {
    display: flex;
    flex-flow: column wrap;
    width: 32%;
}
.news-footer {

    .pages-box {
        display: flex;
        justify-content: center;

        .left-arrow {
            margin-right: 10px;
        }

        .right-arrow {
            margin-left: 10px;
        }

        .page-button, .left-arrow, .right-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 2px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            border-radius: 50%;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        .page-button.active {
            @include page-button();
            background: $newsListTabDarkColor;
            z-index: 2;
        }

        .left-arrow:hover, .right-arrow:hover {
            @include page-button();
        }
    }
}

news-list {
    width: 100%;
    margin-bottom: 20px;
}

.detail-news-container {

    .source {
        font-style: italic;
    }

    .bottom-source {
        font-weight: bold;
    }

    .detail-news-title {
        font-size: 24px;
        color: $titleColor;
    }

    .detail-news-content {

        .detail-news-img {
            float: left;
            min-height: 170px;
            margin: 5px 20px 0 0;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        }
    }

    
}
.detail-news-back {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px 20px;
    margin-top: 10px;
    background: $backgroundColor;
    cursor: pointer;
}

#share-buttons {
    margin: 20px 0;
}

.admin-box {
    display: flex;
    justify-content: center;
    background: white;
    height: 100%;
    width: 100%;
    font-family: PTSerif;

    .left-panel {
        display: flex;
        flex-flow: column wrap;
        width: 290px;

        .title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .buttons {
            font-size: 18px;

            div {
                margin: 2px 50px 2px 0px;
                padding: 10px 20px;
                cursor: pointer;
            }
            div:hover {
                background: $backgroundColor;
            }
            div.active {
                background: $newsListTabDarkColor;
            }
        }
    }

    .right-panel {
        background: $backgroundColor;
        width: 860px;
        font-size: 18px;

        .all-news-box {
            display: flex;
            flex-flow: column wrap;

            .admin-news-item {
                margin: 10px;                
                border: $allNewsBorder;
                display: flex;
                flex-flow: row wrap;

                .details {
                    display: flex;
                    padding: 10px;
                    flex-direction: row;
                    width: 100%;
                    border-bottom: $allNewsBorder;
                    
                    img {
                        max-width: 170px;
                        max-height: 170px;
                        margin-right: 10px;
                    }
                }
                .footer {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    div {
                        border-left: $allNewsBorder;
                        padding: 10px;
                        cursor: pointer;
                    }
                }
            }
        }

        .news-footer {
            margin: 10px 0;

            .left-arrow:hover, .right-arrow:hover {
                background: #fff;
            }
        }
    }
}