﻿<div class="news-container">
    <div *ngFor="let col of numberOfNewsColumns; let i = index" class="news-column">
        <div *ngFor="let news of newsList | columnRows:i" class="short-news-box"
             routerLink="/main/{{category}}/detail/{{news.id}}"
             [@newsState]="news.state"
             (mouseenter)="news.toggleState()"
             (mouseleave)="news.toggleState()">
            <div *ngIf="news.imgUrl" class="short-news-box_date">
                <img class="short-news-box_img" [src]="news.imgUrl" />
            </div>
            <div class="short-news-box_message">
                <p>{{news.shortMessage}}</p>
            </div>
        </div>
    </div>
</div>
<div class="news-footer">
    <div class="pages-box">
        <div class="left-arrow"
             (click)="prevPage()">
            <span>
                <
            </span>
        </div>
        <div *ngFor="let page of arrayOfPages | pagesSlice:currentPage" 
             class="page-button" 
             [routerLink]="['/main/', category, page.number]"
             [@pageState]="page.state"
             (click)="setNewCurrentPage(page)"
             (mouseenter)="page.toggleState('selected')"
             (mouseleave)="page.toggleState('notSelected')">
            <span>{{page.number}}</span>
        </div>
        <div class="right-arrow"
             (click)="nextPage()">
            <span>
                >
            </span>
        </div>
    </div>
</div>