﻿<header>
    <a href="/" class="logo-box"></a>
    <div class="link-box">
        <a routerLink="/main/prompt" routerLinkActive="active">Главные новости</a>
        <a routerLink="/main/all" routerLinkActive="active">Все новости</a>
        <a routerLink="/admin" *ngIf="authService.isLoggedIn">Настройки</a>
    </div>
    <div class="widget-box">
        <div class="date-time">
            <div>Сегодня:</div>
            <div>{{currentDate}}</div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <aside>
            <h3>НОВОСТНЫЕ ИСТОЧНИКИ</h3>
            <ul>
                <li *ngFor="let source of sourceList">
                    <a routerLink="/main/{{source.category}}"
                        routerLinkActive="active">
                        <span>{{source.name}}</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section>
            <router-outlet></router-outlet>
        </section>
    </div>
</article>
<footer>
    <div class="container">
        <div class="copyright-box">
            <span>© 2016 Все права защищены</span>
        </div>
        <!--<div class="info-box">
        </div>-->
    </div>
</footer>