﻿<div class="detail-news-container">
    <h3 class="detail-news-title">{{newsText.title}}</h3>
    <span>{{newsText.publishDate}}</span>
    <span class="source">Источник: </span><a [href]="newsText.sourceUrl">{{newsText.sourceName}}</a>
    <div class="detail-news-content">
        <img *ngIf="newsText.imgUrl" class="detail-news-img" [src]="newsText.imgUrl" />
        <span class="detail-news-message" [innerHTML]="newsText.message"></span>
    </div>
    <span class="bottom-source">Источник: </span><a [href]="newsText.sourceUrl">{{newsText.sourceName}}</a>
</div>
<div class="btn detail-news-back" (click)="goBack()"
    [@backButtonState]="backButtonState"
    (mouseenter)="toggleBackButtonState()"
    (mouseleave)="toggleBackButtonState()">
    <span>К новостям</span>
</div>
<div id="share-buttons"></div>

