﻿<h2>LOGIN</h2>
<form>
    <label>
        Логин
    </label>
    <input name='name' [(ngModel)]='name'>
    <label>
        Пароль
    </label>
    <input name='password' type="password" [(ngModel)]='password'>
</form>
<p>{{message}}</p>
<p>
    <button (click)="login()" *ngIf="!authService.isLoggedIn">Login</button>
    <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>`